:root {
  --primary: #222939;
  --secondary: #fca291;
  --tertiary: #92a3d1;
  --quaternary: #f4eade;
  --quinary: #d49955;
  --senary: #dcbcad;
}

html {
  height: 100%;
}

#content {
  flex-grow: 1;
}

.font-primary {
  font-family: "Sometype Mono", monospace;
  color: var(--primary);
}

#headerWrap {
  background-color: var(--tertiary);
}

.Nav {
  display: flex;
  list-style-type: none;
}

#logo {
  width: 30%;
}

#hobbiesWrapper,
#educationWorkWrapper,
#projectsWrapper,
#skillsWrapper,
#profileWrapper {
  background-color: var(--primary);
  padding-bottom: 6%;
  padding-left: 2%;
  padding-right: 2%;
  flex-grow: 1;
  min-height: 100vh;
}

#rentCraftWrapper,
#jeopardyWrapper,
#harmonyWrapper,
#commentedWrapper,
#escapeBHWrapper,
#pokedexWrapper,
#mathGamesWrapper {
  background-color: var(--primary);
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

#footerWrapper {
  background-color: var(--tertiary);
  color: var(--primary);
  padding-top: auto;
  min-height: 6vh;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footerWrapper > h5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 90%;
}

#contact,
.externalLink,
.projectLink {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.projectLink {
  color: var(--quaternary);
  text-decoration: none;
}

#contact a,
#headerWrap a {
  font-size: 120%;
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

.externalLink {
  color: var(--tertiary);
  text-decoration: none;
}

#contact a:hover,
.externalLink:hover {
  text-decoration: underline;
  color: var(--quaternary);
}
.projectLink:hover {
  text-decoration: underline;
  color: var(--tertiary);
}
.background {
  background-color: var(--senary);
}
#profileWrapper,
.picText {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#shortPitch {
  margin-top: 12%;
  margin-bottom: 12%;
}

.title {
  color: var(--tertiary);
  text-align: center;
  padding-top: 1%;
}
#shortPitch,
.projectTitle,
.hobbyTitle,
.skillsTitle,
.educationWorkTitle,
.educationWorkList,
.projectTitle {
  color: var(--secondary);
  text-align: center;
  padding-top: 1%;
}

.hobbyBlurb,
.skillsBlurb,
.educationWorkList,
.projectExplained,
.projectList {
  color: var(--quaternary);
  font-size: 150%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
}

.projectLink {
  display: inline-block;
}

#shortPitch > ul {
  color: var(--quaternary);
  font-size: 150%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  list-style-type: none;
}

.educationWorkList {
  padding-left: 20%;
  padding-right: 20%;
  list-style-type: circle;
}

.finishedProjects > table,
.unFinishedProjects > table {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#shortPitch > p {
  padding-top: 5%;
}

#julia-profile {
  margin: 5%;
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 0.5%;
  background-color: var(--tertiary);
  border-radius: 10%;
}

#toggler {
  color: var(--primary);
  background-color: var(--quaternary);
}

.juliaHobby,
.juliaSkill {
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 0.5%;
  background-color: var(--tertiary);
  border-radius: 10%;
}

.screenShot {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 2%;

  width: 90%;
  height: auto;
  padding: 0.5%;
  background-color: var(--tertiary);
  border: 5%;
}
.picText > ul,
.projectList {
  list-style-type: circle;
}
@media only screen and (min-width: 794px) {
  .Nav {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 794px) {
  #logo,
  #toggler {
    width: 10vh;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 8vw;
    margin-right: 8vw;
  }

  .Nav {
    display: flex;
    flex-direction: column;
  }
  #profileWrapper,
  .picText {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #shortPitch,
  #shortPitch > ul #contact > ul {
    margin-left: 5%;
    margin-right: 5%;
    list-style-type: circle;
  }
  #profileWrapper {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90%;
  }

  .hobbyBlurb,
  .skillsBlurb,
  .educationWorkList,
  .projectExplained {
    color: var(--quaternary);
    font-size: 150%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }

  .projectList {
    color: var(--quaternary);
    font-size: 150%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
  }
}
